/*body {
  background: url('/img/bg-portland.jpg');
  background-position:top center;
  background-size:cover;
  position:fixed;
  width:100%;
}

[rel=main] {
  margin: 0 auto;
}*/

img {
  max-width:100%;
}