<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       {{#link-to 'index'}} <span class="navbar-brand"><img src="/assets/logo-long-inverse.png" /></span>{{/link-to}}
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="header-color1">{{#link-to 'performers'}}<span>Performers</span>{{/link-to}}</li>
        <li class="header-color2">{{#link-to 'shows'}}<span>Shows</span>{{/link-to}}</li>
       {{!--  <li>{{#link-to 'venues'}}<span>Venues</span>{{/link-to}}</li>
        <li>{{#link-to 'shows'}}<span>Shows</span>{{/link-to}}</li> --}}
        <li class="visible-xs header-color3">{{#link-to 'history'}}<span>History</span>{{/link-to}}</li>
        <li class="visible-xs header-color4">{{#link-to 'press'}}<span>Press</span>{{/link-to}}</li>
        
        <li class="hidden-xs dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Bridgetown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            {{!-- <li class="header-color3">{{#link-to 'history'}}<span>History</span>{{/link-to}}</li> --}}
            <li class="header-color4">{{#link-to 'press'}}<span>Press</span>{{/link-to}}</li>
          </ul>
        </li>


        {{!-- <li class="header-color1">{{#link-to 'schedule'}}<span>Schedule (In Development)</span>{{/link-to}}</li> --}}
{{!-- <li>{{#link-to 'performers'}}<span>Tickets</span>{{/link-to}}</li> --}}
{{!--         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Schedule <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Thursday</a></li>
            <li><a href="#">Friday</a></li>
            <li><a href="#">Saturday</a></li>
            <li class="dropdown-header">Sunday</li>
          </ul>
        </li> --}}
        <li class="header-color5">{{#link-to 'contact'}}<span>Contact</span>{{/link-to}}</li>
        {{!-- <li><a data-toggle="modal" data-target="#myModal" href="#myModal"><i class="fa fa-envelope-o"></i> Contact</a></li> --}}
      </ul>
      <div class="navbar-form navbar-right">
        <strong>
          <a class="btn btn-default" target="_blank" href="http://www.laughstub.com/event.cfm?id=308381">Tickets</a>
        </strong>
      </div>
    </div><!--/.navbar-collapse -->
  </div>
</div>
