
<div class="newspost" style="margin-top:50px;">
  <h3 class="newspost-title">2014 Site is Up!</h3>
  <p>March, 12th, 2014</p>
  <div class="newspost-content">
    <p>
    Bridgetown Comedy Festival has a new look and feel for 2014! We're excited to unveil our new logo, new venues, and performers never before seen at Bridgetown. Our lineup is a solid collection of fresh faces and old favorites, and we're not done yet. Buy your tickets now, and stay tuned for big announcements to come.
  </p>
<p>
<strong>*Limited Offer*</strong>
</p>
<p>
For the first time ever we are offering a very limited number of Festival Fantasy Camp Experiences. For years Bridgetown has built a reputation as camp for comics and a few lucky fans will get to see what they mean. Stay at the same hotel, go to the same parties, and live Bridgetown like your favorite comic (heartburn and hangovers optional).
</p>
</div>
</div>



*Limited Offer*
For the first time ever we are offering a very limited number of Festival Fantasy Camp Experiences. For years Bridgetown has built a reputation as camp for comics and a few lucky fans will get to see what they mean. Stay at the same hotel, go to the same parties, and live Bridgetown like your favorite comic (heartburn and hangovers optional).

