
<div class="newspost" style="margin-top:50px;">
  <h3 class="newspost-title">2014 Site is Up!</h3>
  <p>March, 12th, 2014</p>
  <div class="newspost-content">
<p>Bridgetown Comedy Festival has a new look for 2014! We're excited to unveil our new logo, new website, and <a href="https://bridgetowncomedy.com/performers">over 100 performers never before seen at Bridgetown</a>. Our lineup is a solid collection of fresh faces and old favorites, and we're not done yet. Buy your tickets now, and stay tuned for big announcements to come.</p>

<p>For the first time ever we are offering a limited number of <a href="http://bridgetown.laughstub.com/event.cfm?id=308381">Bridgetown Fantasy Camp passes</a>. For years Bridgetown has built a reputation as "summer camp for comics," and this year a few lucky fans will get to find out why. <a href="http://www.jupiterhotel.com/default-en.html">Stay at the same hotel</a>, go to the same parties, and live Bridgetown like your favorite comic (heartburn and hangovers optional).</p>

<p>Get your Bridgetown 2014 passes now at <a href="http://bridgetown.laughstub.com/event.cfm?id=308381">http://bridgetown.laughstub.com/event.cfm?id=308381</a></p>
</div>
</div>


<p>Bridgetown Comedy Festival has a new look for 2014! We're excited to unveil our new logo, new website, and <a href="https://bridgetowncomedy.com/performers">over 100 performers never before seen at Bridgetown</a>. Our lineup is a solid collection of fresh faces and old favorites, and we're not done yet. Buy your tickets now, and stay tuned for big announcements to come.</p>

<p>For the first time ever we are offering a limited number of <a href="http://bridgetown.laughstub.com/event.cfm?id=308381">Bridgetown Fantasy Camp passes</a>. For years Bridgetown has built a reputation as "summer camp for comics," and this year a few lucky fans will get to find out why. <a href="http://www.jupiterhotel.com/default-en.html">Stay at the same hotel</a>, go to the same parties, and live Bridgetown like your favorite comic (heartburn and hangovers optional).</p>

<p>Get your Bridgetown 2014 passes now at <a href="http://bridgetown.laughstub.com/event.cfm?id=308381">http://bridgetown.laughstub.com/event.cfm?id=308381</a></p>