
<div class="newspost" style="margin-top:50px;">
  <div class="newspost-content">
<p><strong>Bridgetown</strong> is a celebration of innovative humor that proudly bears Portland’s signature style. Now in its 7th year, the festival's roster of performers features a blend of world-famous headliners, up-and-coming performers, and the Pacific Northwest’s top talent. It's far more than just a festival of stand-up comedy. Bridgetown’s programming offers sketch, improv, podcasts, films, panel discussions, music, and interactive audience games. The result is the type of ingenious, spontaneous, creative fantasia that can only happen in Portland.</p>

<p>Festival venues include the Doug Fir, the Alhambra Theater, the Hawthorne Theater, the Bossanova Ballroom, and the White Owl Social Club, in addition to more informal performance spaces along Hawthorne Boulevard. With a single wristband, you can see dozens of shows over the course of one weekend. You can quickly hop from seeing a sold-out show in a theater to seeing a national headliner in an intimate setting on a bar’s back patio. </p>

<p>All this, and doughnuts, too. </p>

<p>The 7th annual Bridgetown Comedy Festival will take place Thursday, May 8th, through Sunday, May 11th, 2014. Get your 4-day passes <a target="_blank" href="http://bridgetown.laughstub.com/event.cfm?id=308381">here</a>. With a rep for being "comedy summer camp," we added a limited number of Fantasy Camp Passes that offer hotel, party access, and tons of perks. <a target="_blank" href="http://bridgetown.laughstub.com/event.cfm?id=308381">Grab yours here</a>. </p>
</div>
</div>





