<table class="table">
  <thead>
  <tr>
  <th>Venue</th>
  </tr>
  </thead>
  <tbody>
  {{debug}}
  {{#each venue in controller.venues}}
   {{debug}}
   <tr>
    <th>{{venue.Name}}</th>
      {{{scheduleTableRow venue.events}}}
    </tr>
  {{/each}}
  </tbody>
</table>