<table>
  <thead>
  <tr>
  <th>Venue</th>
  </tr>
  </thead>
  <tbody>
  {{debug}}
  {{#each venue in controller.venues}}
   {{debug}}
   <tr>
    <th>{{venue.Name}}</th>
    {{#each event in venue.events}}
      <td>
        {{partial "event_list_item"}}
      </td>
    {{/each}}
    </tr>
  {{/each}}
  </tbody>
</table>