<div id="lg">
  <div class="container w">
    <h1>SPONSORS</h1>
    <div class="row centered">
      <div class="col-xs-2">
        <img src="/assets/c01.gif" alt="">
      </div><!-- col-xs-2 -->

      <div class="col-xs-2">
        <img src="/assets/c02.gif" alt="">
      </div><!-- col-xs-2 -->

      <div class="col-xs-2">
        <img src="/assets/c03.gif" alt="">
      </div><!-- col-xs-2 -->

      <div class="col-xs-2">
        <img src="/assets/c04.gif" alt="">
      </div><!-- col-xs-2 -->

      <div class="col-xs-2">
        <img src="/assets/c05.gif" alt="">
      </div><!-- col-xs-2 -->

      <div class="col-xs-2">
        <img src="/assets/c05.gif" alt="">
      </div><!-- col-xs-2 -->
      <div class="col-xs-2">
        <img src="/assets/c01.gif" alt="">
      </div><!-- col-xs-2 -->

      <div class="col-xs-2">
        <img src="/assets/c02.gif" alt="">
      </div><!-- col-xs-2 -->

      <div class="col-xs-2">
        <img src="/assets/c03.gif" alt="">
      </div><!-- col-xs-2 -->

      <div class="col-xs-2">
        <img src="/assets/c04.gif" alt="">
      </div><!-- col-xs-2 -->

      <div class="col-xs-2">
        <img src="/assets/c05.gif" alt="">
      </div><!-- col-xs-2 -->

      <div class="col-xs-2">
        <img src="/assets/c05.gif" alt="">
      </div><!-- col-xs-2 -->
    </div><!-- row -->
  </div><!-- container -->
</div>