<div id="lg">
  <div class="container sponsors-container text-center">
    <h2>SPONSORS</h2>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <img class="img-responsive" src="/assets/sponsor-squarespace-big.png" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
        <img class="img-responsive" src="/assets/sponsor-taxi-magic-big.png" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
        <img class="img-responsive" src="/assets/sponsor-mailchimp-long.png" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-sm-2">
        <img class="img-responsive" src="/assets/sponsor-deschutes.png" alt="">
      </div><!-- col-xs-4 col-sm-3 col-md-2 -->
      <div class="col-xs-4 col-sm-2">
        <img class="img-responsive" src="/assets/sponsor-ground-kontrol.png" alt="">
      </div><!-- col-xs-4 col-sm-3 col-md-2 -->
      <div class="col-xs-8 col-sm-4">
        <img class="img-responsive" src="/assets/sponsor-jupiter-long.png" alt="">
      </div><!-- col-xs-4 col-sm-3 col-md-2 -->
      <div class="col-xs-4 col-sm-2">
        <img class="img-responsive" src="/assets/sponsor-sizzle-pie.png" alt="">
      </div><!-- col-xs-4 col-sm-3 col-md-2 -->
      <div class="col-xs-4 col-sm-2">
        <img class="img-responsive" src="/assets/sponsor-voodoo.png" alt="">
      </div><!-- col-xs-4 col-sm-3 col-md-2 -->
   
    </div><!-- row -->
  </div><!-- container -->
</div>