<div class="jumbotron jumbotron-bg1 jumbotron-dark jumbotron-color-5  jumbotron-page-header">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2">
      <h1>Bridgetown Comedy Festival 2014</h1>
      <h2>May 8th - May 11th</h2>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- headerwrap -->