<h2>Newsposts</h2>

{{#link-to "new_newspost"}}New Newspost{{/link-to}}

<table>
  <thead>
    <th>name</th>
    <th>bio</th>
    <th>headshot</th>
  </thead>
  <tbody>
    {{#each newspost in controller}}
    <tr>
      <td>{{ newspost.name }}</td>
      <td>{{ newspost.bio }}</td>
      <td>{{ newspost.headshot }}</td>
      <td>{{#link-to "newspost" newspost }}view{{/link-to}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>


