<h2>Newspost</h2>

<p>
  <b>Name:</b> {{ name }}
</p>

<p>
  <b>Bio:</b> {{ bio }}
</p>

<p>
  <b>Headshot:</b> {{ headshot }}
</p>

{{#link-to "newsposts"}}←All Newsposts{{/link-to}}
{{#link-to "edit_newspost" model}}Edit{{/link-to}}
<a href="#" {{action "destroy"}}>Destroy</a>
