<h2>Performer</h2>

<p>
  <b>Name:</b> {{ name }}
</p>

<p>
  <b>Headshot:</b> <img {{bind-attr src="performer.headshot" }} />
</p>

<p>
  <b>Bio:</b> {{{ body }}}
</p>

<p>
  <b>Categories:</b> {{#each category in categories}}
      {{category.name}}
      {{/each}}
</p>


{{#link-to "performers"}}←All Performers{{/link-to}}
