<h2>Performers</h2>
<div class="container">
  <div class="row">
    {{#each news in controller}}
    <div class="col-sm-3">
      <p><img {{bindAttr src="performer.headshot" }} /></p>
      <td>{{#link-to "performer" performer }}{{ performer.name }}{{/link-to}}</td>
    </div>
    {{/each}}
  </div>
</div>


