 {{#each newspost in controller}}
    <div class="newspost">
      <h3 class="newspost-title">{{#link-to "newspost" newspost }}{{ newspost.title }}{{/link-to}}</h3>
      <p>{{humanDate newspost.publishOn}}</p>
      <div class="newspost-content">{{{ createExcerpt newspost.htmlContent 100 "... Read More..." }}}</div>
    </div>
    <hr />
  {{/each}}


