/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/


@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);


$color1: #c8bf89;
$color2: #695b53;
$color3: #448184;
$color4: #8dd1aa;
$color5: #89e894;
// Squarespace cleanup
.row.sqs-row {
  margin:0;
}

html {
  min-height: 100%;
}

body {
  background:black;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Helvetica Neue', sans-serif;
}

.main-content {
  @extend .container;
  padding-left:0;
  padding-right:0;
  background-color: #E6E6E6;
  background: rgba(250,250,250,.94);
  color:#6c6c6c;
  padding-bottom:20px;
  margin-top: 80px;
}


//HEADER

.navbar {
  a.active {
    color:white;
  }
  .nav li span {
    padding-bottom:3px;
  }
  .header-color1 span {
    border-bottom: 3px $color1 solid;
  }

  .header-color2 span {
    border-bottom: 3px $color2 solid;
  }

  .header-color3 span {
    border-bottom: 3px $color3 solid;
  }

  .header-color4 span {
    border-bottom: 3px $color4 solid;
  }

  .header-color5 span {
    border-bottom: 3px $color5 solid;
  }
}
// JUMBOTRON
.jumbotron {
  color:white;
  background-image: url('../assets/header-lights-bg.png');
  background-size:cover;
  &.jumbotron-page-header {

  }
  &.jumbotron-default {
    background:transparent;
    color:#333;
  }
  &.jumbotron-minor {
    padding-top:20px;
    padding-bottom:20px;
  }
  &.jumbotron-tiny {
    padding-top:10px;
    padding-bottom:10px;
    h2 {
      margin-top:10px;
      margin-bottom:10px;
    }
  }
  &.jumbotron-color-1 {
    background-color: $color1;
  }
  &.jumbotron-color-2 {
    background-color: $color2;
  }
  &.jumbotron-color-3 {
    background-color: $color3;
  }
  &.jumbotron-color-4 {
    background-color: $color4;
  }
  &.jumbotron-color-5 {
    background-color: $color5;
  }
}
//INDEX
.jumbotron-index {
  background: #89e894;
  color:white;
}

// PERFORMERS
.jumbotron-performers {
  background: #008080;
  color:white;
}
.performer-box {
  img {
    border:2px solid #999;
  }
  legend {
    height: 3em;
    overflow: hidden;
    border:0;
    text-align:left;
  }
}

.single-performer {
  .performer-headshot {
    border:2px solid #999;
  }
}



// FOOTER

.site-footer {
  text-align:center;
  background: black;
  border-top: 1px solid #444;
  margin-top: 20px;
  padding-top: 20px;
  color:#BBB;
  font-size:.85em;
  .social {
    margin-bottom: 1em;
    text-align: center;
  }
  .social-buttons li {
    display: inline-block;
    line-height: 1;
    padding: 5px 8px;
    list-style:none;
    }
    .footer-links {
      margin-top: 1em;
      padding-left: 0;
      color: #999;
    }
    .footer-links li {
      display: inline;
      padding: 0 2px;
    }
}